.txtProductName { 
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.txtModel { 
    margin-top: 5px;
}
.txtFeature { 
    color: gray;
}
.textAvailableColor {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}

.containImageColor{
    margin-top: 10px;
}

.imageColor{
    cursor: pointer;
}
.imageColorActive{
    border: 2px black solid;
    cursor: pointer;
}