
.cotainer{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconMenu{
    font-size: 24px;
    /* padding-right: 1px; */
}

.cotainer a {
    padding: 0 15px;
}