
.cotainer{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconMenu{
    font-size: 24px;
    /* padding-right: 1px; */
}

.cotainer a {
    padding: 0 15px;
}

.containAccount{
    padding: 15px 35px;
    background-color: white;
}

.txtMain{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.menuItem a{
    display: block;
    padding: 5px 0;
    font-size: 18px;
}
.menuItem a:hover{
    text-decoration: underline;
}